body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: white;
  margin: 0;
  border: 0.5vh solid black;
  box-sizing: border-box;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  border: 0.5vh black solid;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

nav {
  display: flex;
  flex-grow: 1;
  background-color: brown;
}

.leftnav {
  flex-grow: 3;
  border: 0.5vh black solid;
  box-sizing: border-box;
}

.rightnav {
  flex-grow: 1;
  border: 0.5vh black solid;
  box-sizing: border-box;
}

article {
  background-color: red;
  border: 0.5vh black solid;
  box-sizing: border-box;
  flex-grow: 5;
}

footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  background-color: orange;
  border: 0.5vh black solid;
  box-sizing: border-box;
}

aside {
  display: flex;
  background-color: yellow;
  width: 20vw;
  border: 0.5vh black solid;
  box-sizing: border-box;
}
